<!doctype html>
<html lang="en">
  <head>
    <title>WDIHTD</title>
    <meta charset="utf-8">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
    <meta name="viewport" content="task,duedate,deadline,planning,todo,todolist,productivity,homework,organier">
    <link rel="apple-touch-icon" sizes="180x180" href="https://media.discordapp.net/attachments/641632207634432010/1150954369202802778/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/641632207634432010/1150954497766592613/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.discordapp.com/attachments/641632207634432010/1150954609934860398/favicon-16x16.png">
  </head>
  
  <body>
    <div class = "container">
    <h1>What do I have to do?</h1>
    <p>a quick organzier created by Sean</p>
    <form class="todo-form" id = "addItemContainer">
      <label>Task Name</label><input  class="todo-input" type="text" id="taskname" name="taskname" placeholder="Task...">
      <label>Due Date</label><input  class="todo-input" type="date" id="duedate" name="duedate">
      <button class="add-button" type="submit">Add Task</button>
    </form>

    <div class="todo-edit">
      <h1>Edit Task</h1>
      <div>
        <form id="editItemContainer">
            <label for="todo-edit">Task Name</label>
            <input type="text" name="taskname" id="task-edit" placeholder="Task..." required="required">
            <label for="Edit-Deadline">Due Date</label>
            <input type="date" name="duedate" id="duedate-edit" required="required">
            <button class="edit-button">Update</button>
        </form>
        <button onclick="closeEditForm()" class="close-edit-button">Close Edit Window</button>
      </div>
    </div>
    <h1>Here's what you have to do:</h1>
    <div id="task-table">
      
    </div>
    
  </body>
  
</html>