<!doctype html>
<html lang="en">

<head>
  <title>Character Tracker</title>
  
  <meta charset="utf-8">
  <meta name="description" content="A website that allows for creation of a world timeline and characters in it">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/main.js"></script>
  <script src="js/timeline.js"></script>
  <script src="js/characterSheet.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  
  
  <link rel="stylesheet" type="text/css" href="css/main.css"  >
  <link rel="stylesheet"  type="text/css" href="css/timeline.css">
  <link rel="stylesheet" type="text/css" href="css/characterSheet.css" >

 
 </script>
  <!-- get rid of favicon error -->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>

<body>
  
  
  <div class="tab">
    <button class="tabLinks" onclick="openTab(event, 'InformationDoc')" id="defaultOpen">About This Site</button>
    <button class="tabLinks" onclick="openTab(event, 'CharacterSheet')">Characters</button>
  </div>

  <!--Tab 1-->
  <div id="InformationDoc" class="tabContent">
    <h3>Character Creator</h3>
    <img id="lotr_map" src="images/lotr_map.jpg" alt="Lord of the Rings" width="300px" background-color="transparent" >
    <p>
      One difficulty many world creators have is keeping track of their timelines and histories. This website is an attempt to remedy this problem.
      First, create a timeline for your fictional world by adding, deleting, or modifying eras in your world. Then, create a character with a birth 
      and death date in the character creation screen, and the website will do the rest. To modify, enter in your desired changes to a specific character 
      and click "modify". Any changes in the characters or the timeline will be immediately reflected in the website. <br> <br>
      Happy creating!
    </p>
  </div>

  <!--End Tab 1-->

  <!--Tab 2-->
  <div id="CharacterSheet" class="tabContent">
    <h3>Character Table</h3>

    <form>
      <div class="label-row">
        <label for="characterName">Name:</label>
        <input type="text" id="characterName" name="name">
  
        <label for="characterStart">Birth:</label>
        <input type="text" id="characterStart" name="birth">
  
        <label for="characterEnd">Death:</label>
        <input type="text" id="characterEnd" name="death">

        <button id="addCharacterButton">submit</button>
      </div>

      
      <label id="characterErrorMessage">Please enter a numerical birth and death</label>
    </form>
    <table id="characterTable">

    </table>
  </div>
  <!--End Tab d2-->


  <script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>

  
  <!--Timeline Section-->
  <div class="timelineContainer">
    <form>
      <table id="timelineSubmission">
        <tr>
          <th><label for="era">Era Name:</label></th>
          <th><label for="date">Starting Year:</label></th>
          <th><label for="description">Description:</label></th>
        </tr>
      </table>
      <input type="text" id="era" value="">
      <input type="text" id="date" value="">
      <input type="text" id="description" value="">
      <button id="addTimelineItemButton">submit</button>
      <label id="timelineErrorMessage">Please enter a numerical year</label>
    </form>
    <div class="timeline" id="myTimeline">
     
    </div> 
  </div>
  <!--End Timeline Section-->
  
  
</body>

</html>