<!doctype html>
<html lang="en">
<head>
	<title>Sign Up Failed</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
    <meta name="viewport" content="task,duedate,deadline,planning,todo,todolist,productivity,homework,organier">
    <link rel="apple-touch-icon" sizes="180x180" href="https://media.discordapp.net/attachments/641632207634432010/1150954369202802778/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/641632207634432010/1150954497766592613/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.discordapp.com/attachments/641632207634432010/1150954609934860398/favicon-16x16.png">
    <script src="other.js" defer></script>
	<title>Login</title>
</head>
<body>
    <div>
        <h1>Sign Up Failed!</h1>
        <p>The entered username seems to be registered</p>
        <button onclick="navigateTo('index.html')">Login</button>
    </div>
</body>
</html>