<!doctype html>
<html lang="en">
<head>
	<title>Sign Up</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-vader.css" type="text/css">
    <meta name="viewport" content="task,duedate,deadline,planning,todo,todolist,productivity,homework,organier">
    <link rel="apple-touch-icon" sizes="180x180" href="https://media.discordapp.net/attachments/641632207634432010/1150954369202802778/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/641632207634432010/1150954497766592613/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.discordapp.com/attachments/641632207634432010/1150954609934860398/favicon-16x16.png">
    <script src="other.js" defer></script>
</head>
<body>
    <div class="signup">
        <h1>Create an account!</h1>
        <form action='/createAccount' method="POST">
            <input type='text' placeholder="Username" name='Username' required="required" id='Username'>
            <input type='password' placeholder="Password" name='Password' required="required" id='Password'>
            <button class="signup-button">Signup</button>
        </form>
        <input type="checkbox" onclick="showPassword()">Show Password
    </div>
</body>
</html>