@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Libre+Barcode+128+Text&family=VT323&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Assistant", sans-serif;
  font-family: "Libre Barcode 128 Text", cursive;
  font-family: "VT323", monospace;
  font-size: 200%;
  margin: 0;
  padding: 0;
}

#myForm {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  font-family: "Assistant", sans-serif;
  font-family: "Libre Barcode 128 Text", cursive;
  font-family: "VT323", monospace;
}

#myForm label {
  margin-bottom: 5px;
  color: #b5b5b5;
}

#myForm input,
#myForm button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

#myForm button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  grid-column: span 2;
}

#myForm button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  margin: 20px;
}

thead,
tbody {
  display: table;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  background-color: black;
}

thead th,
tbody td {
  width: 15%;
  border: 1px solid white;
  padding: 8px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.no-header {
  border: none;
  padding: 0;
  height: 0;
  line-height: 0;
}

th:nth-of-type(1),
th:nth-of-type(2),
th:nth-of-type(3),
th:nth-of-type(4),
th:nth-of-type(5) {
  width: 14.955%;
  border-right: 1px solid white;
}

th:nth-of-type(6),
th:nth-of-type(7) {
  width: 12.6%;
}

td:nth-of-type(1),
td:nth-of-type(2),
td:nth-of-type(3),
td:nth-of-type(4),
td:nth-of-type(5) {
  width: 15%;
  border-right: 1px solid white;
}

td:nth-of-type(6),
td:nth-of-type(7) {
  width: 12.5%;
}

td:nth-of-type(7) {
  border-right: 4px solid white;
}