body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

table,
th,
td {
  padding: 4.5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-collapse: collapse;
  margin-bottom: 20px;
}
button {
  background-color: #bfcbc2;
  border-radius: 20px;
  border: 2px solid white;
  margin-bottom: 20px;
  transition: all 1s ease-out;
}
button:hover {
  background-color: #006e90;
}
#title {
  text-align: center;
}

#clear {
  margin-right: 20px;
}
#btn {
  text-align: end;
}

form {
  color: red;
}
#fade {
  color: #73ff00;
  display: none;
}
#dell {
  color: #FC0011;
  display: none;
}
#uD {
  color: #73ff00;
  display: none;
}
