.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background);
    color: var(--text);
    transition: all 0.3s ease;
}

.dashboard-task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--secondary);
    padding: 2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}