.task-card {
    background-color: var(--background);
    color: var(--text);
    border: 2px solid var(--primary);
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    width: 400px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
}

.header,
.footer {
    grid-column: span 2;
    padding: 8px;
    border: 2px solid var(--secondary);
    border-radius: 8px;
    background-color: var(--primary);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input,
textarea,
select {
    width: calc(100% - 16px);
    /* Adjust width */
    box-sizing: border-box;
    /* Include padding and border in element's total width and height */
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    background-color: var(--background);
    color: var(--text);
    font-size: 1em;
    max-width: calc(100% - 16px);
}

input::placeholder,
textarea::placeholder {
    color: var(--secondary);
}

.priority-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    /* Prevent wrapping within the priority group */
}

.footer .info,
.footer .edit-info {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    font-size: small;
}

.footer .info span,
.footer .edit-info input {
    flex: 1;
}

.task-card button {
    grid-column: span 2;
    background-color: var(--primary);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-card button:hover {
    background-color: var(--accent);
}