div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logout-button {
  margin-left: auto;
}

#app-header {
  font-weight: bold;
}

#delete-button {
  display: none;
}

#todo-table {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
}

.table-head {
  font-weight: bold;
}

#table-body {
  text-align: center;
}