#root {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-size: 30pt;
}

input {
  margin: 10px;
}

table {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}

th {
  border-bottom: thin solid black;
}

td {
  padding: 5px;
}


.delete-button {
  display: inline-block;
  padding: 8px 15px;
  color: #f5f5f5;
  font-weight: bolder;
  background-color: #A50E0E;
  border-radius: 5px;
  border-color: transparent;
  transition: 0.5s;
}

.delete-button:hover {
  background-color: red;
}


