:root {
  font-family: Arial, serif;
  color: #242424;
  background-color: #f5f5f5;
}

button[type=submit] {
  display: inline-block;
  padding: 8px 15px;
  color: #f5f5f5;
  font-weight: bolder;
  background-color: #174EA6;
  border-radius: 5px;
  border-color: transparent;
  transition: 0.5s;
}

button[type=submit]:hover {
  background-color: #4285F4;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: thin solid grey;
}