:root{
    --mainColor:#354651;
    --secondaryColor:#3F5E6D;
    --mainText: #E1C89D;
    --headerText: #E8BC78;
    --linkColor:#E2694C;
}

@font-face {
    font-display: block;
    font-family:"Proxima-N-W01-Reg";
    src: url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot");
    src: url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.svg#Proxima N W01 Reg")format("svg");
}

body {
    background:var(--secondaryColor);
    color:white;
}

html,body{
    height: 100%;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--headerText);
    font-family: Lato,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 28px;
}

i{
    color:white;
}

p, li {
    color: var(--mainText);
    font-family: Lato,Arial,Helvetica,sans-serif;
}

a:hover{
    color: var(--linkColor);

}
body, h3, h4, h5, h6{
    margin:0;
}

.header{
    text-align: center;
    margin-top:5%;
}

.submit-button{
    color:var(--mainColor);
    background-color: var(--headerText);
}

.submit-button:Hover{
    background-color: var(--linkColor);
    color: var(--headerText);
}

.delete-button{
    background: transparent;
    font-size: 20px;
    border: none;
}

.delete-button:Hover{
    color: white;
}


input:invalid{
    text-decoration: underline dotted red;
}

body{
    margin-bottom: 5%;
}

#task-table {
    background: var(--mainColor);
    text-align: center;
    margin: 5%;
    padding: 1%;
    border-radius: 25px;
}

table{
    width:100%;
}

th, td {
    padding: 1%;
    text-align: center;
}

.delete{
    width: 40px;
}

.addTask{
    text-align: center;
    margin: 5%;
    padding-top: 3%;
    background: var(--mainColor);
    border-radius: 25px;
}

#addItemContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.addItem{
    margin: 3%;
    width:fit-content;
}

