body {
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #7697a0, #c2c8c5);
}

*{
  font-family: 'Oswald', sans-serif;
}

#submit {
  background-color: #4a707a;
}

#submit:hover {
  background-color: #7697a0;
}

tbody tr {
  background-color: #94b0b7;
}

thead tr{
  background-color: #4a707a;
}

th, td {
  padding: 15px 50px;
  border-bottom: 1px solid #4a707a;
}
